/*===============================================

    Loam Bakery Site Coding Practice

    Author:     Praises Tula [ @PraisesPJMT ]
    Contact:    praisesmusa@outlook.com
    Date:       27.05.2022 [12:26 UTC+1]

===============================================*/

/**********UNIVERSAL CODE***************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}

/**********HEADER AND FOOTER CODES***************/
header {
    height: 60px;
    align-items: center;
}
header, footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
header a, footer a, .brown {
    color: #B1534B;
}
footer {
    padding: 50px 0;
}
/* 47443E */
#header {
    display: inline-flex;
    align-items: center;
    padding: 5px auto;
}
#logo {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 30px;
}
nav, #ftnav {
    font-size: .9rem;
    font-weight: 500;
}
nav a {
    margin: 0 10px;
}
#cart {
    width: 25px;
    margin-right: 30px;
}
#address {
    margin-left: 30px;
}
.social {
    width: 15px;
    padding: 0 10px;
}
#ft-aside {
    display: inline-flex;
}
#ftnav {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-decoration: underline;
    line-height: 1.3rem;
}
#social-div {
    margin-right: 80px;
}
